<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Módulos Principales</title>

</head>
<body>

<div class="modulos-page-container">

  <div class="logo-area-fixed">
    <img src="assets/imagenes/ojo.jpg" alt="Logo OVA" class="logo-icon">
  </div>

  <button routerLink="/home" class="btn-volver btn-magenta">VOLVER</button>

  <div class="modulos-grid-wrapper">

    <div class="modulo-card">
      <div class="module-title-label btn-magenta">Analisis Numerico</div>

      <div class="icon-circle-modulo icon-verde">
        <img src="assets/imagenes/analisis.png" alt="Icono Análisis Numérico" class="img-fluid">
      </div>

      <p class="modulo-text">
        Enfocado en la búsqueda de soluciones aproximadas para problemas complejos. Profundiza en el Método de Bisección, una técnica esencial para localizar raíces de funciones mediante la reducción iterativa de intervalos.
      </p>

      <button routerLink="/analisis" class="btn-empezar btn-magenta">Empezar</button>
    </div>

    <div class="modulo-card">
      <div class="module-title-label btn-magenta">Matematicas Discretas</div>

      <div class="icon-circle-modulo icon-verde">
        <img src="assets/imagenes/mate.png" alt="Icono Matemáticas Discretas" class="img-fluid">
      </div>

      <p class="modulo-text">
        Explora estructuras fundamental, lógica y la teoría de conjuntos. Este módulo se centra en métodos clásicos de la criptografía: el Código César y por transposición de la Escítala Espartana.
      </p>

      <button routerLink="/mate" class="btn-empezar btn-magenta">Empezar</button>
    </div>

  </div>

</div>

</body>
</html>
