<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Matematicas Discretas</title>
</head>
<body>

<div class="page-container">

  <div class="logo-area-fixed">
    <img src="assets/imagenes/ojo.jpg" alt="Logo OVA" class="logo-icon">
  </div>

  <button routerLink="/curso" class="btn-volver btn-magenta">VOLVER</button>

  <div class="content-grid-wrapper">

    <div class="module-detail-card">
      <div class="module-title-label btn-magenta">Codigo Cesar</div>

      <div class="module-icon-container">
        <img src="assets/imagenes/codigocesar.png" alt="Rueda de Código César" class="img-fluid">
      </div>

      <p class="module-text">
        Explora este método clásico de criptografía por sustitución simple, donde cada letra del mensaje original es reemplazada por otra letra en la posición fija más adelante en el alfabeto. Aprende a cifrar y descifrar mensajes usando una clave de despalcaento.
      </p>

      <button routerLink="/codigo-c" class="btn-empezar btn-magenta">Empezar</button>
    </div>

    <div class="module-detail-card">
      <div class="module-title-label btn-magenta">Escilata Espartana</div>

      <div class="module-icon-container">
        <img src="assets/imagenes/escitala.png" alt="Icono Escítala Espartana" class="img-fluid">
      </div>

      <p class="module-text">
        Explora este ingenioso método de criptografía militar usado en la antigua Esparta. Aprende cómo el mensaje se vuelve coherente al enrollar al enlistar a cinta abrund un cilindro un diámetro específico. Descubre la magia de la "<span class="highlight">transposición</span>" y la clave física.
      </p>

      <button routerLink="/escitala" class="btn-empezar btn-magenta">Empezar</button>
    </div>

  </div>

</div>

</body>
</html>
