<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Créditos y Autores</title>

</head>
<body>

<div class="content-page-container">

  <div class="logo-area-fixed">
    <img src="assets/imagenes/ojo.jpg" alt="Logo OVA" class="logo-icon">
  </div>

  <div class="content-card-detail creditos-card">

    <div class="icon-circle-detail icon-creditos">
      <img src="assets/imagenes/creditos.png" alt="Icono Grupo" class="img-fluid">
    </div>

    <h2 class="card-detail-title">Créditos y Autores</h2>

    <div class="creditos-list-container">

      <h3>Autores del Contenido y Diseño</h3>
      <ul class="autores-list">
        <li> Alejandro Barco Ruiz : QA </li>
        <li> Jaime Esteban Jurado Arce: Autor(es) de servicio(s)</li>
        <li> Sara Milena Malaver Ospina : DevOps</li>
        <li> Yulieth Yahaira Trujillo Rivera : Scrum Master</li>
      </ul>

      <h3>Institución Patrocinadora</h3>
      <p><strong>Unidad Central del Valle - Uceva</strong></p>
      <p>Proyecto de OVAS para Ingeniería.</p>

      <h3>Fecha de Publicación</h3>
      <p>Noviembre de 2025</p>
    </div>

    <button routerLink="/home" class="btn-detail btn-magenta">VOLVER</button>
  </div>

</div>

</body>
</html>
