<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>¿Qué es el OVA?</title>

</head>
<body>

<div class="content-page-container">

  <div class="logo-area-fixed">
    <img src="assets/imagenes/ojo.jpg" alt="Logo OVA" class="logo-icon">
  </div>

  <div class="content-card-detail">

    <div class="icon-circle-detail">
      <img src="assets/imagenes/bombilla.png" alt="Icono Bombilla" class="img-fluid">
    </div>

    <h2 class="card-detail-title">¿Qué es el OVA?</h2>

    <p class="card-detail-text">
      Un Objeto Virtual de Aprendizaje (OVA) es un recurso educativo que se desarrolla con el fin de facilitar el aprendizaje. Se trata de un material didáctico digital que puede ser utilizado por los estudiantes y los profesores en cualquier momento y lugar.
    </p>

    <button routerLink="/home" class="btn-detail btn-magenta">Volver</button>

  </div>

</div>

</body>
</html>
